<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
  .toolbar {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
  }

  @media (max-width: 800px) {
    .toolbar {
      flex-wrap: wrap;
    }
  }

  .toolbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }

  .logo {
    color: white;
    font-weight: bold;
  }

  .menu {
    display: flex;
  }

  .a {
    display: inline-block;
    margin-right: 10px;
  }

  .form {
    display: inline-block;
    margin-left: 10px;
  }
</style>

        <link rel="stylesheet" type="text/css" href="../static/style.css">

    <title>Powerful women in Tech</title>
  </head>
  <body>
    <div class="toolbar">
   <div><a href="/">
    <img src="static/logo3.jpeg";>
    </a></div>
      <div class="logo">Powerful women in Tech</div>
      <div class="menu">
        <a href="/">Home</a>
        <a href="about_us">About</a>
        <a href="contact">Contact Us</a>
      </div>
    </div>
 <div class="tools">
<form method="post" action="{{url_for('search')}}">
  <input type="text" name="search_string" placeholder="Enter search keywords">
  <input type="submit" formaction="/search" value="search">
</form>

<form action="/filter" method="post">
  <input type="text" name="filter_value" placeholder="Enter filter value">
  <input type="submit" value="Filter">
</form>

{% if filtered_info %}
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    {% for info in filtered_info %}
    <tr>
      <td>{{ info.name }}</td>
      <td>{{ info.company }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
     </div>
        <h1 style="font-size: 36px;color: #A16DC5;text-align: center;">
            "WOMEN ARE THE ARCHITECTS OF SOCIETY"
        </h1><br><br>
<center>
        <h2><br>
            I searched for most powerful women in tech in Google, Wikipedia, tech websites, and other public sources.<br>
            The one thing that unites them all is their passion and resolve to make a difference in the tech world.
        </h2>


        <p>
            We’re always looking for new pwoerful WOMAN to inspire us:
           <a href="add_profile"><button class="new-member-button">ADD NEW MEMMBER</button></a>
        </p><br>

        {% for woman in women_info %}
            <div style="overflow: hidden; display: inline-block;">
            <div class="container">
            <div class="box">
            <a href="{{url_for('woman_identify',woman_id=woman.id)}}"> <img src="{{ url_for('display_image', filename=woman.filename)}}" style="border-radius: 50%; width="250 height="300"></a>
            <b>{%print woman.name%}</b>
            </div>
            </div>
            </div>
        {%endfor%}
    <a href="/"><button class="new-member-button">Back to top</button></a>

</center>
    <div class="icon-bar">
  <a href="https://www.facebook.com/GirlsInTech?mibextid=ZbWKwL" class="facebook"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/womenintech?lang=en" class="twitter"><i class="fa fa-twitter"></i></a>
  <a href="https://youtu.be/8VZTtRX4HIk" class="youtube"><i class="fa fa-youtube"></i></a>
  <a href="https://www.google.com/search?q=powerful+women+in+tech&rlz=1C1KNTJ_enIL1034IL1034&oq=powerful+women+in+tech&aqs=chrome..69i57j69i61l3.14400j0j15&sourceid=chrome&ie=UTF-8" class="google"><i class="fa fa-google"></i></a>
</div>
   <footer>
       <hr style=" border: 3px solid black;width: 100%;">
      <p>Copyright © 2023 Hadeel Hassan</p>
    </footer>

  </body>
</html>